# Ignore everything in the data folder
data/

# Ignore all the files in the results folder except the timestamped statistics files
results/*
!results/*.txt

# Ignore everything in the qc folder except the reports (.html files)
qc/*
!qc/*.html